<p>

</p>
<div class="container">
  <button (click)="ListCities()"  class="btn btn-info"> Lista </button>
  <button (click)="NewCities()" class="btn btn-info"  style="margin-left: 10px; "> Agregar </button>
</div>

<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Ciudades alcanzadas</h3>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
        <tr class="text-center">
          <th>Id</th>
          <th>Nombre</th>
        </tr>
        </thead>
        <tbody>
        <tr   class="text-center" *ngFor="let city of cities">
          <td>{{city.cityId}}</td>
          <td>{{city.name}}</td>

          <td>
            <button class="btn btn-warning"> Editar</button>
            <button class="btn btn-danger" style="margin-left: 10px;"> Eliminar</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
