<p>sale works!</p>

<div class="container" id="registration-form">  
    <div class="image"></div>
      <div class="frm" >
        <mat-toolbar color="primary">
          <span class="fill-remaining-space"><h1>Compra</h1></span>
        </mat-toolbar>
          <br> 
          <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)"  class="form">
              <!--Datos de la tarjeta-->
              <div class="form-group">
                  <label for="name">Número tarjeta:</label>
                  <input matInput class="form-control" (keypress)="keyPress($event)" required  (keyup)="validateCard($event)"   placeholder="Número de la tarjeta" formControlName="card">
                  <mat-error *ngIf="!formGroup.controls['card'].valid && formGroup.controls['card'].touched">
                    {{ titleAlertCard }}
                  </mat-error> 
              </div>

              <div class="form-group" id="month" style=" width:200px; height: 50px; display: inline-block; margin-top: 50px;">
                <label for="name">Fecha de expiracón:</label><br>
                <label for="name">Mes:</label>
                    <select matInput class="form-control" formControlName="month" >
                      <option >Enero</option>
                      <option >Febrero </option>
                      <option >Marzo</option>
                      <option >Abril</option>
                      <option >Mayo</option>
                      <option >Junio</option>
                      <option >Julio</option>
                      <option >Agosto</option>
                      <option >Septiembre</option>
                      <option >Octubre</option>
                      <option >Noviembre</option>
                      <option >Diciembre</option>
                    </select>
              </div>

              <div class="form-group" id="year" style=" width:200px; height: 50px; display:inline-block; margin-top: 50px; ">
                <label for="name">Año:</label>
                    <select matInput class="form-control" formControlName="year" >
                      <option > 2021</option>
                      <option > 2022</option>
                      <option > 2023</option>
                      <option > 2024</option>
                      <option > 2025</option>
                      <option > 2026</option>
                      <option > 2027</option>
                      <option > 2028</option>
                    </select> 
              </div>

              <div class="form-group" style=" width:200px; height: 50px; display:inline-block; margin-top: 50px; ">
                <label for="name">Codigo de seguridad:</label><br>
                <label for="name">CCV:</label>
                <input matInput class="form-control" (keypress)="keyPress($event)" required   placeholder="CCV" formControlName="securityCode">

                <mat-error *ngIf="!formGroup.controls['securityCode'].valid && formGroup.controls['securityCode'].touched">
                  {{ titleAlertCcv }}
                </mat-error> 
              </div>
              <br><br>
              
              <!--Datos de la Persona-->
              <div class="form-group">
                  <label for="name">Nombre:</label>
                  <input matInput class="form-control"   pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]" placeholder="Nombre" formControlName="name">
                  
                  <mat-error *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
                    {{ titleAlertName }}
                  </mat-error> 
              </div>

              <div class="form-group">
                <label for="phone">Teléfono:</label>
                <!--(keypress)="keyPress($event)" required type="text" //valida que solo podamos escribir numeros-->
                <input matInput class="form-control" (keypress)="keyPress($event)" required   type="text"   placeholder="Teléfono" formControlName="phone">

                <mat-error *ngIf="!formGroup.controls['phone'].valid && formGroup.controls['phone'].touched">
                  {{ titleAlertPhone }}
                </mat-error>  
              </div>

              <div class="form-group">
                  <label for="direction">Dirección:</label>
                  <textarea matInput class="form-control" placeholder="Dirección" formControlName="direction"></textarea>
                 
                  <mat-error *ngIf="!formGroup.controls['direction'].valid && formGroup.controls['direction'].touched">
                    {{ titleAlertDirection }}
                  </mat-error>
              </div>

              <div class="form-group">
                  <button type="submit" class="btn btn-success btn-lg" [disabled]="!formGroup.valid">Guardar</button>
              </div>
            
          </form>

          <mat-toolbar color="primary">
            <span class="fill-remaining-space"><h1 align="left"> Total: {{total | currency}}</h1></span>
          </mat-toolbar>

      </div>
  </div>
  
