  <!---->

<li></li>
<div class="container">
  <button (click)="Listar()"  class="btn btn-info"> Volver </button>
</div>


<!--prueba fondo de img -->
<div class="container" id="fondo">
  <img [src]="myimage" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100;">
</div>

    <div class="container" id="registration-form">
      <div class="image"></div>
        <div class="frm">
            <h1>Registro</h1>
            <form  [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
              <div *ngIf="formGroup.hasError('whitespace')">Please enter valid data</div>
              
                <div class="form-group">
                    <label for="name">Nombre:</label>
                    <input matInput class="form-control" placeholder="Nombre de la Empresa" formControlName="name">

                    <mat-error *ngIf="!name.valid && name.touched">

                    <input matInput class="form-control"   placeholder="Nombre de la Empresa" formControlName="name">

                    <mat-error *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
                      {{ titleAlertName }}
                    </mat-error>
                </div>

                <div class="form-group">
                    <label for="direction">Dirección:</label>
                    <textarea matInput class="form-control" placeholder="Dirección de la empresa" formControlName="direction"></textarea>

                    <mat-error *ngIf="!formGroup.controls['direction'].valid && formGroup.controls['direction'].touched">
                      {{ titleAlertDirection }}
                    </mat-error>
                </div>

                <div class="form-group">
                    <label for="phone">Telefono:</label>
                    <!--(keypress)="keyPress($event)" required type="text" //valida que solo podamos escribir numeros-->
                    <input matInput class="form-control" (keypress)="keyPress($event)" required type="text"   placeholder="Telefono" formControlName="phone">

                    <mat-error *ngIf="!formGroup.controls['phone'].valid && formGroup.controls['phone'].touched">
                      {{ titleAlertPhone }}
                    </mat-error>


                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input matInput  class="form-control" placeholder="Correo Electrónico" formControlName="email">

                    <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
                      {{ titleAlertEmail }}
                    </mat-error>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg">Guardar</button>
                </div>

            </form>
        </div>
    </div>






