<p>add works!</p>

<div class="container">
    <button (click)="Listar()"  class="btn btn-info"> Lista </button>
    <button (click)="Nuevo()" class="btn btn-info"  style="margin-left: 10px; "> Agregar </button>
</div>
<li></li>

<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Agregando Empresas</h3>     
        </div>

        <div class="card-body">
           <form action="">
               <div class="form-group">
                   <label for="">Nombre</label>
                   <input type="text" class="form-control">
               </div>
               <div class="form-group">
                   <label for="">Dirección</label>
                   <input type="text" class="form-control">
               </div>
               <div class="form-group">
                   <label for="">Telefono</label>
                   <input type="text" class="form-control">
               </div>
               <div class="form-group">
                   <label for="">Correo Electrónico</label>
                   <input type="text" class="form-control">
               </div>

               <button class="btn btn-danger"> Guardar</button>
           </form>

        </div>    

    </div>
</div>
