<p>add works!</p>

<div class="container">
    <button (click)="Listar()"  class="btn btn-info"> Lista </button>
    <button (click)="Nuevo()" class="btn btn-info"  style="margin-left: 10px; "> Agregar </button>
</div>
<li></li>


  
  <div class="container col-md-6" > 
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
  
  
      
  
      <mat-form-field class="form-element">
        <textarea matInput placeholder="Dirección" formControlName="direction"></textarea>
        <mat-error *ngIf="!formGroup.controls['description'].valid && formGroup.controls['description'].touched">
          Campo requerido, debe ser de entre 10 y 100 caracteres;
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput placeholder="Nombre de la Empresa" formControlName="name">
        <mat-error *ngIf="!name.valid && name.touched">
          {{ titleAlert }}
        </mat-error>
      </mat-form-field>
  

      <mat-form-field class="form-element">
        <input matInput placeholder="Telefono" formControlName="phone" >
      </mat-form-field>


      <mat-form-field class="form-element">
        <input matInput placeholder="Correo Electrónico" formControlName="email">
        <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
          {{ getErrorEmail() }}
        </mat-error>
      </mat-form-field>
  
      

  
      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Guardar</button>
      </div>
      
    </form>
  </div>
  
  