  <mat-toolbar color="primary" class="top">
    <span>PCP Store </span>
    <!--<button mat-button routerLink="/store">Inicio</button>  -->
    <button mat-button routerLink="/listarStore">Nuevo Carrito</button>
    <button mat-button routerLink="/listCheckout">Reservas</button>
    <button mat-button routerLink="/">Ventas</button>
    <!-- <button mat-button routerLink="/listarProduct">Product</button> -->
    <!-- <button mat-button routerLink="/listarpt" >Tipos de productos</button> -->
    <!-- <button mat-button routerLink="/listarb" >Brand</button> -->
    <button mat-button routerLink="/listar" >Company</button>
    <!--<button mat-button routerLink="list" >Ciudades</button> -->
    <!--<button mat-button routerLink="/user/register" >Usuarios</button> -->
    <span class="example-spacer"></span>

    <!--
    <button mat-button routerLink='/cart'>
      <mat-icon class="icon">shopping_cart</mat-icon>
    </button>
    -->

    <button mat-button routerLink='/carrito'>
      <mat-icon class="icon">shopping_cart</mat-icon>
    </button>
    <!--<mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>-->
  </mat-toolbar>
