.contenedor{
    max-width: 100%;
    padding: 30px 15%;
    padding-left: calc(15% + 20px);
}
.prod {
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.10);
}
.prod:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.6);
}
button.mat-raised-button:hover{
    background-color: green;
}
.image {
    height: 450px;
}