<p></p>
<p></p>
<p></p>
<div class="container">
    <button (click)="Listar()"  class="btn btn-info"> Lista </button>
    <button (click)="Nuevo()" class="btn btn-info"  style="margin-left: 10px; "> Agregar </button>
</div>
<p></p>
<p></p>

<!--prueba fondo de img -->
<div class="container" id="fondo">
    <img [src]="myimage" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100;">
</div>


<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Empresas</h3>     
        </div>

        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr   class="text-center" *ngFor="let company of companies">
                        <td>{{company.companyId}}</td>
                        <td>{{company.name}}</td>
                        <td>{{company.direction}}</td>
                        <td>{{company.phone}}</td>
                        <td>{{company.email}}</td>

                        <td>
                            <!--IMAGEN LLama a info de Company-->
                            <div class="img">
                                <img (click)="infoCompany(company.companyId)" [src]="imgInfo"  height="60px" width="70px"
                                class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalContactForm"> 
                                 
                            </div>
                        </td>
                        <td>
                            <button (click)="editCompany(company.companyId)" class="btn btn-warning"> Editar</button>
                            <button type="button" (click)="eliminar(company)" class="btn btn-danger" style="margin-left: 10px;"> Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table> 

        </div>    

    </div>
</div>



<!--INFO-->
<!--Modal: Login with Avatar Form-->
<div class="text-center">
    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalContactForm">Launch
      Modal Contact Form</a>
  </div>

<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Información de la Empresa</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
           <!--Header-->
            <div class="modal-header">
                <img [src]="imgCompany"  height="300px" width="300px"  alt="avatar" class="rounded-circle img-responsive">
            </div>
                <!--INICIO-->
            <form  [formGroup]="editarForm" class="form"> 
                <div class="md-form mb-5">
                <label data-error="wrong" data-success="right" for="form34" >Nombre de la Empresa</label>
                <input matInput class="form-control" readonly="readonly" formControlName="name">
                </div>

                <div class="md-form mb-5">
                <label data-error="wrong" data-success="right" for="form29">Dirección</label>
                <input matInput class="form-control" readonly="readonly" formControlName="direction">
                </div>

                <div class="md-form mb-5">
                <label data-error="wrong" data-success="right" for="form32">Telefono</label>
                <input matInput class="form-control" readonly="readonly" formControlName="phone">
                </div>

                <div class="md-form">
                <label data-error="wrong" data-success="right" for="form8">Correo electrónico</label>
                <input matInput class="form-control" readonly="readonly" formControlName="email">
                </div>
            </form>   
      </div>

    </div>
  </div>
</div>

