<p></p>
<p></p>
<p></p>
<div class="container">
    <button (click)="Listar()"  class="btn btn-info"> Lista </button>
    <button (click)="Nuevo()" class="btn btn-info"  style="margin-left: 10px; "> Agregar </button>
</div>
<p></p>
<p></p>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Empresas</h3>     
        </div>

        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr   class="text-center" *ngFor="let company of companies">
                        <td>{{company.companyId}}</td>
                        <td>{{company.name}}</td>
                        <td>{{company.direction}}</td>
                        <td>{{company.phone}}</td>
                        <td>{{company.email}}</td>

                        <td>
                            <button (click)="editCompany(company.companyId)" class="btn btn-warning"> Editar</button>
                            <button class="btn btn-danger" style="margin-left: 10px;"> Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table> 

        </div>    

    </div>
</div>
