<p>list-checkout works!</p>


<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Reservas</h3>     
        </div>

        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr  class="text-left">
                        <th>Id</th>
                        <th>contacto</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr   class="text-left" *ngFor="let checkout of checkouts">
                        <td>{{checkout.checkoutId}}  </td>
                        <td>{{checkout.contact}}</td>
                        <td>{{checkout.address}}</td>

                        <td>
                            <!--IMAGEN LLama a info de Company
                            <div class="img">
                                <img (click)="infoCompany(company.companyId)" [src]="imgInfo"  height="55px" width="65px" 
                                class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalContactForm" class="rounded-circle img-responsive">          
                            </div>-->
                        </td>
                        <td>
                            <button type="button" (click)="eliminar(checkout)" class="btn btn-danger" style="margin-left: 10px;"> Eliminar</button>
                        </td>
                    </tr>

                </tbody>
            </table> 

        </div>    

    </div>
</div>



<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>datos de producto Reserva</h3>     
        </div>

        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr  class="text-left">
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Email</th>

                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>

                    </tr>
                </thead>
                <tbody>
                    <tr   class="text-left" *ngFor="let pr of productoReservas">
                        <td>{{pr.prId}}  </td>
                        <td>{{pr.contact}}</td>
                        <td>{{pr.address}}</td>
                        
                        <td>{{pr.productName}}</td>
                        <td>{{pr.unitPrice}}</td>
                        <td>{{pr.cantidad}}</td>

                        <td>
                            <button type="button"  class="btn btn-danger" style="margin-left: 10px;"> Eliminar</button>
                        </td>
                    </tr>

                </tbody>
            </table> 

        </div>    

    </div>
</div>
