<div class="card border-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Tipodeproductos</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de tipo de productos</h5>
 <table class="table table-sm table-bordered table-striped">
   <thead>
   <tr>
     <th>ID</th><th> Type name <th>

   </thead>

       <tr *ngFor="let producttype of producttypes">
         <td>{{ producttype.productTypeId}}</td>
         <td align="center">{{ producttype.typeName}}</td>
         <td>
           <button type="button" name="editar" [routerLink]="['/producttype/form/', producttype.productTypeId]" class="btn btn-primary btn-sm">editar</button>
         </td>
         <td>
           <button type="button" name="eliminar" (click)='delete(producttype)' class="btn btn-danger btn-sm">eliminar</button>
         </td>
       </tr>





 </table>


  </div>
</div>

<div>
  <button class="btn btn-rounded btn-primary" type="button" routerLink="/producttype/form">
    Crear nuevo tipo de producto
  </button>
</div>


