<div class="card border-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Tipodeproductos</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de tipo de productos</h5>
 <table class="jasmine-alert">
   <thead>
   <tr>
     <th>Id  &nbsp;&nbsp;&nbsp;&nbsp; Nombre del tipo</th>


   </thead>
   <tbody>
   <div>

       <tr *ngFor="let producttype of producttypes">
         <td>{{ producttype.productTypeId}}  </td> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;

         <td align="center">{{ producttype.typeName}}</td>
       </tr>


   </div>

   </tbody>
 </table>


  </div>
</div>
